---
name: Deploy GitHub Pages preview
on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  preview:
    uses: ./.github/workflows/github-pages-preview.yml
    with:
      branch: ${{ github.ref_name }}
